@import "src/assets/sass/foundations.scss";

exa-menu-button a { /* the menu icon */
	@include linkColor($blue);
	padding: 12px flex(30,300) 18px flex(20,300);
	font-size: 24px;
	display: block;
	line-height: 24px;
	font-family: $headline;
	position: absolute;
	right: 0;
	bottom: 0;
	transition: bottom .2s;
	cursor: pointer;
	margin-right: flex(-5,300);
	&:after {
		content: "d";
		font-size: 12px;
		margin-left: 5px;
		transition: transform .1s;
		font-family: $icon;
		position: absolute;
	}
	&.active:after {
		margin-top: 3px;
		transform: rotate(180deg);
	}
	&.active {
		background: $white;
		bottom: -6px;
	}
}

